Source: aptc
Section: unknown
Priority: optional
Maintainer: txz <920504276@qq.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/aptc
#Vcs-Git: https://salsa.debian.org/debian/aptc.git
Rules-Requires-Root: no

Package: aptc
Architecture: all
Depends: ${misc:Depends},
         python3,
         python3-loguru,
         python3-pycurl,
         python3-certifi,
         python3-wget,
         python3-lz4,
         python3-magic,
         python3-packaging,
         python3-rarfile,
         python3-numpy,
         python3-uritools,
         python3-rdflib,
         python3-xmltodict,
         python3-yaml,
         python3-sortedcontainers,
         python3-defusedxml,
         python3-license-expression,
         python3-requests
Description: hook apt command to check cve of packages which will be installed
 hook apt command to check cve of packages which will be installed
